<!DOCTYPE html>
<html>
<head>
	<title>Codes</title>
	<%= include_gon(:watch => true) %>

	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>

<!-- 만약 로그인이 되있으면 Body를 Live Render로 아니면 Box로 Render  -->
	<%= yield %>
	<script type="text/javascript">
	<% if signed_in? -%>
		Codes.currentUser = new Codes.Entities.User(<%= current_user.to_json.html_safe %>);
	
	<% else -%>
		Codes.currentUser = null;
	<% end -%>
		// Codes.start();
	</script>
</body>
</html>
